# API Configuration
VITE_API_URL=http://localhost:5051/api/v1

# Supabase SDK Configuration
VITE_SUPABASE_URL=https://your-supabase-url.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=your-supabase-publishable-key
